<th:block th:fragment="parallax-bg">
    <div class="bg" id="bg-main" data-turbo-permanent>
        <div class="bg-layer" data-speed="12" data-bg="/ui/shared/backgrounds/main/1.png"></div>
        <div class="bg-layer" data-speed="32" data-bg="/ui/shared/backgrounds/main/2.png"></div>
        <div class="bg-layer" data-speed="48" data-bg="/ui/shared/backgrounds/main/3.png"></div>
        <div class="bg-layer" data-speed="80" data-bg="/ui/shared/backgrounds/main/4_with_konek.png"></div>
    </div>
    <div class="bg" id="bg-profile" data-turbo-permanent>
        <div class="bg-layer" data-speed="12" data-bg="/ui/shared/backgrounds/profile/1.png"></div>
        <div class="bg-layer" data-speed="32" data-bg="/ui/shared/backgrounds/profile/2.png"></div>
        <div class="bg-layer" data-speed="48" data-bg="/ui/shared/backgrounds/profile/3_bg_with_konek.png"></div>
        <div class="bg-layer" data-speed="80" data-bg="/ui/shared/backgrounds/profile/4.png"></div>
    </div>
    <div class="bg" id="bg-about" data-turbo-permanent>
        <div class="bg-layer" data-speed="12" data-bg="/ui/shared/backgrounds/about/1.png"></div>
        <div class="bg-layer" data-speed="32" data-bg="/ui/shared/backgrounds/about/2.png"></div>

        <div class="bg-layer" data-speed="48"
             data-bg="/ui/shared/backgrounds/about/3.png"
             data-bg-alt="/ui/shared/backgrounds/about/3_with_konek.png"
             data-variant-group="konek"></div>

        <div class="bg-layer" data-speed="64"
             data-bg="/ui/shared/backgrounds/about/4_with_hammock.png"
             data-bg-alt="/ui/shared/backgrounds/about/4_with_hammock_and_konek.png"
             data-variant-group="konek"></div>

        <div class="bg-layer" data-speed="80" data-bg="/ui/shared/backgrounds/about/5.png"></div>
    </div>
    <div class="bg" id="bg-leaderboard" data-turbo-permanent>
        <div class="bg-layer" data-speed="32" data-bg="/ui/shared/backgrounds/leaderboard/1.png"></div>
        <div class="bg-layer" data-speed="48" data-bg="/ui/shared/backgrounds/leaderboard/2.png"></div>
    </div>
    <div class="bg" id="bg-game" data-turbo-permanent>
        <div class="bg-layer" data-speed="12" data-bg="/ui/shared/backgrounds/main/1.png"></div>
        <div class="bg-layer" data-speed="32" data-bg="/ui/shared/backgrounds/main/2.png"></div>
        <div class="bg-layer" data-speed="48" data-bg="/ui/shared/backgrounds/main/3.png"></div>
        <div class="bg-layer" data-speed="80" data-bg="/ui/shared/backgrounds/main/4.png"></div>
    </div>
</th:block>
