<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="preloads">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/main/1.png}"             as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/main/2.png}"             as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/main/3.png}"             as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/main/4.png}"             as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/main/4_with_konek.png}"  as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/profile/1.png}"          as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/profile/2.png}"          as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/profile/3.png}"          as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/profile/3_bg_with_konek.png}" as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/profile/4.png}"          as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/1.png}"            as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/2.png}"            as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/3.png}"            as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/3_with_konek.png}" as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/4.png}"            as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/4_with_konek.png}" as="image">
        <link rel="preload" th:href="@{/ui/shared/backgrounds/about/5.png}"            as="image">
    </th:block>
</head>
</html>
