<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="preloads">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/mainMenuParallax/1.png}"             as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/mainMenuParallax/2.png}"             as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/mainMenuParallax/3.png}"             as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/mainMenuParallax/4.png}"             as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/mainMenuParallax/4_with_konek.png}"  as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/profilePageParallax/1.png}"          as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/profilePageParallax/2.png}"          as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/profilePageParallax/3.png}"          as="image">
        <link rel="preload" th:href="@{/ui/fxgl/backgrounds/profilePageParallax/4.png}"          as="image">
    </th:block>
</head>
</html>
