<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="favicon">
        <link rel="icon" href="/img/logos/logo.svg" type="image/svg+xml">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/logos/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/logos/favicon/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/logos/apple-touch-icon.png">
        <link rel="manifest" href="/img/logos/favicon/site.webmanifest">
    </th:block>
</head>
</html>
