<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
    <link rel="preload" th:href="@{/ui/fxgl/fonts/PressStart2P-Regular.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" th:href="@{/js/parallax-shared.js}" as="script">
    <link rel="preload" th:href="@{/js/nav-shared.js}"      as="script">
    <th:block th:replace="~{fragments/bg-preloads :: preloads}"></th:block>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="icon" class="icon" type="image/png" th:href="@{/img/logo.png}">
    <script type="module" src="https://unpkg.com/@hotwired/turbo@8/dist/turbo.es2017-esm.js"></script>
    <script defer th:src="@{/js/scale.js}"></script>
</head>
<body class="nav-no-anim kb-mode">
<div class="game-root">
    <th:block th:replace="~{fragments/bg-parallax :: parallax-bg}"></th:block>

    <div class="menu-wrap" style="margin-top: -80px">
        <div class="title-line title-line-1" style="font-size:56px">404</div>
        <div class="title-line title-line-2" style="font-size:56px; margin-bottom:36px">NOT FOUND</div>

        <div class="error-sep"></div>

        <div class="error-message">The page you're looking for doesn't exist</div>

        <a th:href="@{/menu}" class="menu-btn" style="margin-top:14px">BACK TO MENU</a>
    </div>
</div>

<script th:src="@{/js/parallax-shared.js}"></script>
<script th:src="@{/js/nav-shared.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script>
(function () {
    const { sig } = initAbort();
    initNav('.menu-btn', { signal: sig.signal });
})();
</script>
</body>
</html>
