.bg-layer-1 { background-image: url('/ui/fxgl/backgrounds/mainMenuParallax/1.png'); }
.bg-layer-2 { background-image: url('/ui/fxgl/backgrounds/mainMenuParallax/2.png'); }
.bg-layer-3 { background-image: url('/ui/fxgl/backgrounds/mainMenuParallax/3.png'); }
.bg-layer-4 { background-image: url('/ui/fxgl/backgrounds/mainMenuParallax/4_with_konek.png'); }