<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

<h1>Change Password</h1>

<p>A 6-digit code was sent to your registered email address.</p>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<form method="post" th:action="@{/profile/change-password}">
    <input type="number" name="userCode" placeholder="Enter 6-digit code" required/><br/>
    <input type="password" name="newPassword" placeholder="New password" required/><br/>
    <button type="submit">Change Password</button>
</form>

<br/><a th:href="@{/profile}">Back to profile</a>

</body>
</html>
