<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>???</title>
    <link rel="preload" th:href="@{/ui/shared/fonts/PressStart2P-Regular.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" th:href="@{/css/menu.css}"   as="style">
    <link rel="preload" th:href="@{/css/secret.css}" as="style">
    <link rel="preload" th:href="@{/js/nav-shared.js}"      as="script">
    <link rel="preload" th:href="@{/js/secret.js}"          as="script">
    <link rel="preload" th:href="@{/img/secret-bg.png}" as="image">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/secret.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logos/logo-round.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/logos/logo-round.png">
    <script type="module" src="https://unpkg.com/@hotwired/turbo@8/dist/turbo.es2017-esm.js"></script>
    <script>!function(){function a(r){var v=innerWidth,h=innerHeight,s,x,y;r.style.position='fixed';r.style.left='0';r.style.top='0';r.style.transformOrigin='top left';if(h>v*1.2){r.style.width='600px';r.style.height=Math.round(600*h/v)+'px';r.style.transform='scale('+(v/600)+')';}else{s=Math.max(v/1280,h/720);x=(v-1280*s)/2;y=(h-720*s)/2;r.style.width='1280px';r.style.height='720px';r.style.transform='translate('+x+'px,'+y+'px) scale('+s+')';}}var r=document.querySelector('.game-root');if(r){a(r);}else{var o=new MutationObserver(function(){var e=document.querySelector('.game-root');if(e){a(e);o.disconnect();}});o.observe(document.documentElement,{childList:true,subtree:true});}}();</script>
    <script defer th:src="@{/js/scale.js}"></script>
</head>
<body class="on-secret nav-no-anim kb-mode">
<div class="game-root">
    <div class="secret-bg"></div>

    <div class="menu-wrap secret-wrap">
        <div class="secret-title-line">??? SECRET</div>
        <div class="secret-title-line secret-title-line-2">ROOM ???</div>


        <a th:href="@{/about}" class="menu-btn" style="margin-top:24px">BACK</a>
    </div>

    <div id="horse-sprite" class="horse-sprite"></div>
</div>

<script th:src="@{/js/nav-shared.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/secret.js}"></script>
</body>
</html>
