<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>???</title>
    <link rel="preload" th:href="@{/ui/shared/fonts/PressStart2P-Regular.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" th:href="@{/css/menu.css}"   as="style">
    <link rel="preload" th:href="@{/css/secret.css}" as="style">
    <link rel="preload" th:href="@{/js/nav-shared.js}"      as="script">
    <link rel="preload" th:href="@{/js/secret.js}"          as="script">
    <link rel="preload" th:href="@{/img/secret-bg.png}" as="image">
    <link rel="preload" th:href="@{/img/KonekTobeySalto80x80.png}" as="image">
    <link rel="preload" th:href="@{/img/konekTobeyRun80x80.png}" as="image">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/secret.css}">
    <th:block th:replace="~{fragments/head :: favicon}"></th:block>
    <script type="module" src="https://unpkg.com/@hotwired/turbo@8/dist/turbo.es2017-esm.js"></script>
    <script th:src="@{/js/scale.js}"></script>
</head>
<body class="on-secret nav-no-anim kb-mode">
<div class="game-root">
    <div class="secret-bg"></div>

    <div class="menu-wrap secret-wrap">
        <div class="secret-title-line">??? SECRET</div>
        <div class="secret-title-line secret-title-line-2">ROOM ???</div>


        <a th:href="@{/about}" class="menu-btn" style="margin-top:24px">BACK</a>
    </div>

    <div id="horse-sprite" class="horse-sprite"></div>
</div>

<script th:src="@{/js/nav-shared.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script th:src="@{/js/secret.js}"></script>
</body>
</html>
